# Trove Example
This illustrates how to load results from the trove

In [1]:
import testspace_colab.trove as trove_module
trove = trove_module.Trove()

In [9]:
from IPython.display import display
import jsonpath_ng
import pandas as pd
for result in trove.load():
    df = pd.DataFrame([match.value for match in jsonpath_ng.parse('$..[cases][:]').find(result)])
    display(df)

,duration,name,start_time,status,annotations,description
0,0.000000,test_case_1,2021-02-03T09:51:22.005395,passed,[],NaN
1,0.000000,test_case_2,2021-02-03T09:51:22.005395,passed,[],NaN
2,0.000000,test_case_3,2021-02-03T09:51:22.005395,passed,[],NaN
3,0.000000,test_case_4,2021-02-03T09:51:22.005395,passed,[],NaN
4,0.000000,test_case_5,2021-02-03T09:51:22.005395,passed,[],NaN
5,0.000000,test_case_6,2021-02-03T09:51:22.005395,passed,[],NaN
6,0.000000,test_fail,2021-02-03T09:51:22.005395,failed,[{'description': 'Assertion: AssertionError: F...,NaN
7,0.000000,test_xfail,2021-02-03T09:51:22.005395,not_applicable,[],xfailed: reason for xfailing
8,0.000000,test_skip,2021-02-03T09:51:22.005395,not_applicable,[],unconditional skip
9,0.000000,test_case_7,2021-02-03T09:51:22.005395,passed,[],NaN
10,0.000000,test_case_8,2021-02-03T09:51:22.005395,passed,[],NaN
11,0.000000,test_case_9,2021-02-03T09:51:22.005395,passed,[],NaN

      duration           name           start_time  status annotations
0  1000.000000  Test Case One  2020-12-15T03:39:39  passed          []
1  1000.000000  Test Case Two  2020-12-15T03:39:39  passed          []

      duration           name           start_time  status annotations
0  1000.000000  Test Case One  2020-12-15T03:39:39  passed          []
1  1000.000000  Test Case Two  2020-12-15T03:39:39  passed          []

      duration           name           start_time  status annotations
0  1000.000000  Test Case One  2020-12-15T03:39:39  passed          []
1  1000.000000  Test Case Two  2020-12-15T03:39:39  passed          []

      duration           name           start_time  status annotations
0  1000.000000  Test Case One  2020-12-15T03:39:39  passed          []
1  1000.000000  Test Case Two  2020-12-15T03:39:39  passed          []

      duration           name           start_time  status annotations
0  1000.000000  Test Case One  2020-12-15T03:39:39  passed          []
1  1000.000000  Test Case Two  2020-12-15T03:39:39  passed          []

,duration,name,start_time,status,annotations,description
0,62.000000,test_click_version,2021-02-07T19:51:24.861117,passed,[],NaN
1,15.000000,test_debug_level,2021-02-07T19:51:24.861117,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-07T19:51:24.861117,passed,[],NaN
3,536.000000,test_click_client,2021-02-07T19:51:24.861117,passed,[],NaN
4,97140.000000,test_all[stopped],2021-02-07T19:51:24.861117,passed,[],NaN
...,...,...,...,...,...,...
99,17.000000,test_tag,2021-02-07T19:51:27.083146,passed,[],NaN
100,14738.000000,test_start[None],2021-02-07T19:51:27.083146,passed,[],NaN
101,206.000000,test_start[running],2021-02-07T19:51:27.083146,passed,[],NaN
102,16102.000000,test_start[stopped],2021-02-07T19:51:27.083146,passed,[],NaN
103,1479.000000,test_stop[running],2021-02-07T19:51:27.083146,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,45.000000,test_click_version,2021-02-07T20:32:56.308318,passed,[],NaN
1,19.000000,test_debug_level,2021-02-07T20:32:56.308318,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-07T20:32:56.308318,passed,[],NaN
3,364.000000,test_click_client,2021-02-07T20:32:56.308318,passed,[],NaN
4,94278.000000,test_all[stopped],2021-02-07T20:32:56.308318,passed,[],NaN
...,...,...,...,...,...,...
99,18.000000,test_tag,2021-02-07T20:32:56.216843,passed,[],NaN
100,13239.000000,test_start[None],2021-02-07T20:32:56.216843,passed,[],NaN
101,276.000000,test_start[running],2021-02-07T20:32:56.216843,passed,[],NaN
102,16248.000000,test_start[stopped],2021-02-07T20:32:56.216843,passed,[],NaN
103,2136.000000,test_stop[running],2021-02-07T20:32:56.216843,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,45.000000,test_click_version,2021-02-07T08:50:15.826788,passed,[],NaN
1,23.000000,test_debug_level,2021-02-07T08:50:15.826788,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-07T08:50:15.826788,passed,[],NaN
3,599.000000,test_click_client,2021-02-07T08:50:15.826788,passed,[],NaN
4,743.000000,test_get_tabular_format,2021-02-07T08:50:15.826788,passed,[],NaN
...,...,...,...,...,...,...
91,34.000000,test_not_instanciated[None],2021-02-07T08:50:16.331945,passed,[],NaN
92,17.000000,test_tag,2021-02-07T08:50:16.331945,passed,[],NaN
93,83343.000000,test_start[None],2021-02-07T08:50:16.331945,passed,[],NaN
94,153.000000,test_start[running],2021-02-07T08:50:16.331945,passed,[],NaN
95,17322.000000,test_start[stopped],2021-02-07T08:50:16.331945,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,41.000000,test_click_version,2021-02-12T03:08:13.714585,passed,[],NaN
1,16.000000,test_debug_level,2021-02-12T03:08:13.714585,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-12T03:08:13.714585,passed,[],NaN
3,278.000000,test_click_client,2021-02-12T03:08:13.714585,passed,[],NaN
4,24574.000000,test_crawl_all,2021-02-12T03:08:13.714585,passed,[],NaN
...,...,...,...,...,...,...
115,19.000000,test_tag,2021-02-12T03:08:15.080761,passed,[],NaN
116,14715.000000,test_start[None],2021-02-12T03:08:15.080761,passed,[],NaN
117,205.000000,test_start[running],2021-02-12T03:08:15.080761,passed,[],NaN
118,16172.000000,test_start[stopped],2021-02-12T03:08:15.080761,passed,[],NaN
119,1337.000000,test_stop[running],2021-02-12T03:08:15.080761,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,49.000000,test_click_version,2021-02-16T05:08:25.267953,passed,[],NaN
1,18.000000,test_debug_level,2021-02-16T05:08:25.267953,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-16T05:08:25.267953,passed,[],NaN
3,365.000000,test_click_client,2021-02-16T05:08:25.267953,passed,[],NaN
4,118879.000000,test_crawl_all,2021-02-16T05:08:25.267953,passed,[],NaN
...,...,...,...,...,...,...
115,24.000000,test_tag,2021-02-16T05:08:25.538507,passed,[],NaN
116,16263.000000,test_start[None],2021-02-16T05:08:25.538507,passed,[],NaN
117,237.000000,test_start[running],2021-02-16T05:08:25.538507,passed,[],NaN
118,17489.000000,test_start[stopped],2021-02-16T05:08:25.538507,passed,[],NaN
119,851.000000,test_stop[running],2021-02-16T05:08:25.538507,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,39.000000,test_click_version,2021-02-11T03:20:22.386981,passed,[],NaN
1,16.000000,test_debug_level,2021-02-11T03:20:22.386981,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-11T03:20:22.386981,passed,[],NaN
3,282.000000,test_click_client,2021-02-11T03:20:22.386981,passed,[],NaN
4,21100.000000,test_crawl_all,2021-02-11T03:20:22.386981,passed,[],NaN
...,...,...,...,...,...,...
111,22.000000,test_tag,2021-02-11T03:20:22.345501,passed,[],NaN
112,16325.000000,test_start[None],2021-02-11T03:20:22.345501,passed,[],NaN
113,233.000000,test_start[running],2021-02-11T03:20:22.345501,passed,[],NaN
114,17534.000000,test_start[stopped],2021-02-11T03:20:22.345501,passed,[],NaN
115,1294.000000,test_stop[running],2021-02-11T03:20:22.345501,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,44.000000,test_click_version,2021-02-12T03:55:08.410593,passed,[],NaN
1,16.000000,test_debug_level,2021-02-12T03:55:08.410593,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-12T03:55:08.410593,passed,[],NaN
3,564.000000,test_click_client,2021-02-12T03:55:08.410593,passed,[],NaN
4,96314.000000,test_crawl_all,2021-02-12T03:55:08.410593,passed,[],NaN
...,...,...,...,...,...,...
115,22.000000,test_tag,2021-02-12T03:55:09.709057,passed,[],NaN
116,14634.000000,test_start[None],2021-02-12T03:55:09.709057,passed,[],NaN
117,226.000000,test_start[running],2021-02-12T03:55:09.709057,passed,[],NaN
118,16287.000000,test_start[stopped],2021-02-12T03:55:09.709057,passed,[],NaN
119,1978.000000,test_stop[running],2021-02-12T03:55:09.709057,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,45.000000,test_click_version,2021-02-11T03:48:14.035774,passed,[],NaN
1,16.000000,test_debug_level,2021-02-11T03:48:14.035774,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-11T03:48:14.035774,passed,[],NaN
3,272.000000,test_click_client,2021-02-11T03:48:14.035774,passed,[],NaN
4,25605.000000,test_crawl_all,2021-02-11T03:48:14.035774,passed,[],NaN
...,...,...,...,...,...,...
111,19.000000,test_tag,2021-02-11T03:48:21.450908,passed,[],NaN
112,14753.000000,test_start[None],2021-02-11T03:48:21.450908,passed,[],NaN
113,200.000000,test_start[running],2021-02-11T03:48:21.450908,passed,[],NaN
114,16213.000000,test_start[stopped],2021-02-11T03:48:21.450908,passed,[],NaN
115,1491.000000,test_stop[running],2021-02-11T03:48:21.450908,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,40.000000,test_click_version,2021-02-16T04:20:54.069171,passed,[],NaN
1,18.000000,test_debug_level,2021-02-16T04:20:54.069171,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-16T04:20:54.069171,passed,[],NaN
3,530.000000,test_click_client,2021-02-16T04:20:54.069171,passed,[],NaN
4,105136.000000,test_crawl_all,2021-02-16T04:20:54.069171,failed,[{'description': 'Assertion: assert 1 == 0 +...,NaN
...,...,...,...,...,...,...
115,19.000000,test_tag,2021-02-16T04:20:55.832957,passed,[],NaN
116,14668.000000,test_start[None],2021-02-16T04:20:55.832957,passed,[],NaN
117,201.000000,test_start[running],2021-02-16T04:20:55.832957,passed,[],NaN
118,16795.000000,test_start[stopped],2021-02-16T04:20:55.832957,passed,[],NaN
119,1505.000000,test_stop[running],2021-02-16T04:20:55.832957,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,2.000000,test_click_version,2021-02-04T04:58:56.752300,passed,[],NaN
1,11.000000,test_debug_level,2021-02-04T04:58:56.752300,not_applicable,[],xfailed: Need to figure out control flow
2,1.000000,test_click_help,2021-02-04T04:58:56.752300,passed,[],NaN
3,255.000000,test_click_client,2021-02-04T04:58:56.752300,passed,[],NaN
4,522.000000,test_get_tabular_format,2021-02-04T04:58:56.752300,passed,[],NaN
...,...,...,...,...,...,...
71,2.000000,test_unsupported_system,2021-02-04T04:59:11.562406,passed,[],NaN
72,7.000000,test_version,2021-02-04T04:59:11.562406,passed,[],NaN
73,88.000000,test_exec_with_exceptions[args0],2021-02-04T04:59:11.562406,passed,[],NaN
74,87.000000,test_exec_with_exceptions[a b c],2021-02-04T04:59:11.562406,passed,[],NaN
75,183.000000,test_exec_no_exception,2021-02-04T04:59:11.562406,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,76.000000,test_click_version,2021-02-08T21:57:59.431747,passed,[],NaN
1,19.000000,test_debug_level,2021-02-08T21:57:59.431747,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-08T21:57:59.431747,passed,[],NaN
3,361.000000,test_click_client,2021-02-08T21:57:59.431747,passed,[],NaN
4,102880.000000,test_all[stopped],2021-02-08T21:57:59.431747,passed,[],NaN
...,...,...,...,...,...,...
99,20.000000,test_tag,2021-02-08T21:58:00.956566,passed,[],NaN
100,16279.000000,test_start[None],2021-02-08T21:58:00.956566,passed,[],NaN
101,233.000000,test_start[running],2021-02-08T21:58:00.956566,passed,[],NaN
102,17215.000000,test_start[stopped],2021-02-08T21:58:00.956566,passed,[],NaN
103,1213.000000,test_stop[running],2021-02-08T21:58:00.956566,passed,[],NaN

,duration,name,start_time,status,annotations,description
0,38.000000,test_click_version,2021-02-16T05:08:26.072403,passed,[],NaN
1,17.000000,test_debug_level,2021-02-16T05:08:26.072403,not_applicable,[],xfailed: Need to figure out control flow
2,2.000000,test_click_help,2021-02-16T05:08:26.072403,passed,[],NaN
3,363.000000,test_click_client,2021-02-16T05:08:26.072403,passed,[],NaN
4,117010.000000,test_crawl_all,2021-02-16T05:08:26.072403,passed,[],NaN
...,...,...,...,...,...,...
115,16.000000,test_tag,2021-02-16T05:08:28.581839,passed,[],NaN
116,13228.000000,test_start[None],2021-02-16T05:08:28.581839,passed,[],NaN
117,207.000000,test_start[running],2021-02-16T05:08:28.581839,passed,[],NaN
118,16161.000000,test_start[stopped],2021-02-16T05:08:28.581839,passed,[],NaN
119,1613.000000,test_stop[running],2021-02-16T05:08:28.581839,passed,[],NaN