# Trove Example
This illustrates how to load results from the trove. 

For practically, we are using 
the [https://lbrack.testspace.com/](https://lbrack.testspace.com/) organization which doesn't have 
any read restrictions.

In [1]:
from IPython.display import display # Pretty display in Python
import testspace_colab
testspace_colab.use_test_config()      # Comment this line if you want to use you own config.
# testspace_colab.use_samples_config() # uncomment this line to use the testspace samples

The following cell is optional but you can use this 
to capture some results on your local file system. By default it will use the test config. Simply comment out 
the first two lines to use yours.

In [2]:
!ts-colab crawl -o ~/testspace-colab

using TS_COLAB_CONFIG_DIR=/home/laurent/github/laurent/testspace-colab/tests/.config/test
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/trove_loader/build.25@PR-12.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/trove_loader/build.24@PR-12.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/main/build.23.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/main/build.22.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/main/build.20.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/main/build.13.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/main/build.9.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/codespace_container/build.21@PR-10.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/flat-structure/build.19@PR-8.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/flat-structure/build.18@PR-8.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/flat-structure/build.17@PR-8.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/flat-structure/build.16@PR-8.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/flat-structure/build.15@PR-8.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/flat-structure/build.14@PR-8.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/elk/build.12@PR-3.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/elk/build.11@PR-3.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace-colab/elk/build.10@PR-3.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace.getting-started/main/Sequence_8.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace.getting-started/main/Sequence_7.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace.getting-started/main/Sequence_6.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace.getting-started/main/Sequence_5.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/lbrack:testspace.getting-started/main/Sequence_4.json already exists - skipping
result file /home/laurent/testspace-colab/lbrack.testspace.com/samples/main/test_data.json already exists - skipping
Parsed 0 resuls with 0 errors

In [3]:
import testspace_colab
trove = testspace_colab.Trove() # Create the trove instance. defaults to ~/testspace-colab

We load all the results from the trove and display them in data frames

In [12]:
from IPython.display import display
import jsonpath_ng
import pandas as pd
max_load=3
for result in trove.load(): # this is a generator - we only want 2
    print(f"NAME={result['name']} ID={result['id']}")
    df = pd.DataFrame([match.value for match in jsonpath_ng.parse('$..[cases][:]').find(result)])
    display(df)
    max_load-=1
    if max_load==0:
        break

NAME=test_data ID=123753

,duration,name,start_time,status,annotations,description
0,0.000000,test_case_1,2021-02-03T09:51:22.005395,passed,[],NaN
1,0.000000,test_case_2,2021-02-03T09:51:22.005395,passed,[],NaN
2,0.000000,test_case_3,2021-02-03T09:51:22.005395,passed,[],NaN
3,0.000000,test_case_4,2021-02-03T09:51:22.005395,passed,[],NaN
4,0.000000,test_case_5,2021-02-03T09:51:22.005395,passed,[],NaN
5,0.000000,test_case_6,2021-02-03T09:51:22.005395,passed,[],NaN
6,0.000000,test_fail,2021-02-03T09:51:22.005395,failed,[{'description': 'Assertion: AssertionError: F...,NaN
7,0.000000,test_xfail,2021-02-03T09:51:22.005395,not_applicable,[],xfailed: reason for xfailing
8,0.000000,test_skip,2021-02-03T09:51:22.005395,not_applicable,[],unconditional skip
9,0.000000,test_case_7,2021-02-03T09:51:22.005395,passed,[],NaN
10,0.000000,test_case_8,2021-02-03T09:51:22.005395,passed,[],NaN
11,0.000000,test_case_9,2021-02-03T09:51:22.005395,passed,[],NaN

NAME=Sequence_8 ID=120921

      duration           name           start_time  status annotations
0  1000.000000  Test Case One  2020-12-15T03:39:39  passed          []
1  1000.000000  Test Case Two  2020-12-15T03:39:39  passed          []

NAME=Sequence_7 ID=120919

      duration           name           start_time  status annotations
0  1000.000000  Test Case One  2020-12-15T03:39:39  passed          []
1  1000.000000  Test Case Two  2020-12-15T03:39:39  passed          []